/* App.css */
body {
  background-color: #000; /* black background for entire app */
  color: #fff;
  margin: 0; /* remove default margin */
  font-family: system-ui, sans-serif; 
  background-image: url('images/bg.png');
  background-position: center;
  background-size: 800px 700px;
  background-repeat: no-repeat;
}
