/* App.css */
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: system-ui, sans-serif; 
  background-image: url('images/bg.png');
  background-position: center top;
  background-size: 700px 800px;
  background-repeat: no-repeat;
}
